*{
    font-family: Source Sans Pro;
    padding: 0;
    margin: 0;
}
.container{
    width: 95%;
    margin: 0 auto;
}
header .container{
    width: 92%;

}
.medsos{
    background-color: #057dff;
}
.icon-medsos{
    margin: 0 5px;
    font-size: 14pt;
    color: white;
}
.hot-menu-text{
    font-size: 12pt;
    margin-left: 10px;
    font-weight: 300;
    text-decoration: none;
}
.menu-medsos{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.hot-menu, .right-medsos{
    display: flex;
    align-items: center;
}
.right-medsos i, .hot-menu-text{
    color: rgb(60, 60, 60);
    margin-left: 10px;
}
.navbar-top, .menu-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}
#search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    font-size: 12pt;
    font-weight: 300;
}
#search-box{
    border: none;
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 10pt;
    font-weight: 300;
    letter-spacing: 1px;
}
#icon-search{
    color: rgb(173, 173, 173);
    padding: 10px 0;
}
.menu-bottom li{
    list-style: none;

}
.nav-link-bottom{
    text-decoration: none;
    font-size: 14pt;
    color: #333;
    font-weight: 600;
}
#logo{
    width: 180px;
}
header{
    border-bottom: 1.3px solid rgb(202, 202, 202);
}

/* main content */
.card-group{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}
.card-img{
    border-radius: 5px;
    width: 365px;
    transition: .35s ease;
}
.card-img:hover{
    box-shadow: 0px 15px 50px rgba(0, 0, 0, .3);
}
.card-link{
    flex: 1;
    margin-bottom: 30px;
}
.card-title{
    font-weight: 700;
    font-size: 16pt;
}
.card-description{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 8px 0 8px 8px;
}
.download-group{
    display: flex;
    justify-content: start;
    align-items: center;
}
.download-group i, .download-group a{
    text-decoration: none;
    font-size: 11pt;
    color: rgb(153, 151, 154);
}
.download-text{
    margin: 0px 20px 0px 5px;
    font-weight: 300;
    font-style: italic;
}
.card-tag{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 11pt;
    color: #057dff;
}
/* akhir main content */


/* footer */
#footer{
    background-color: #1a1a1a;
}
.footer-col-3{
    width: 100%;
}
.footer-col-group{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 0;

}

.footer-title{
    font-weight: 300;
    font-size: 13pt;
    letter-spacing: 5px;
    margin-bottom: 15px;
    color: #fff;
}
.footer-description{
    font-weight: 300;
    font-size: 11pt;
    color: #999;
}
.footer-ul{
    color: #fff;
}
.footer-list, .footer-list li{
    color: #fff;
    font-weight: 600;
    font-size: 11pt;
    text-decoration: none;
}
.footer-trending-group{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.footer-trending-number{
    background-color: #057dff;
    padding: 10px 16px;
    border-radius: 50%;
    margin-right: 10px;
    color: #fff;
}
.footer-title-link{
    text-decoration: none;
}
.footer-link{
    font-size: 12pt;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    
}
.footer-download-icon{
    margin: 6px 0;
}
/* akhir footer */